body {
    background-color: #f9faef;
    width: 100%;
}

.header {
    background-color: rgb(23, 94, 116);
    display: flex;
    padding: 30px 25px 30px 30px;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;

}

.header h1 {
    color: white;
    display: inline;
    font-size: 60pt;
    margin-left: 15px;
    width: auto;
    /* padding: 10px 10px 28px 10px; */
    font-family: 'Sansita Swashed', cursive;
}

.nav li {
    display: inline;
    margin-right: 15px;
    font-size: 18pt;
    width: auto;
    font-family: 'Sansita Swashed', cursive;

}
 
 /*links are white and have no underline*/
 .nav a {
    text-decoration: none;
    color: white;
    padding: 15px;

 }

#heroImage {
    position: relative;
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/nature-2531761_1920.jpg");
    background-size: cover;
  }
  
#heroImage h2 {
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: white;
    background-color: rgb(23, 94, 116);
    padding: 8px;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
  }

#heroImage img {
    
    padding: 8px;
    border-radius: 100px;
    position: absolute;
    bottom: 5%;
    left: 2%;
    padding: 1px;
    width: 12%;
    height: 90%;
    opacity: 0.8;

}

main {

    display: flex;
    flex-direction: column;

}

#aboutMe, #work {

   display: flex;
   flex-direction: row;
   margin: 10px 15px 10px 15px;

}

aside {

    display: flex;
    justify-content: flex-end;
    padding: 15px;
    margin-right: 5px;
    border-right: 3px solid rgb(30, 118, 145);
    width: 20%;
    text-shadow: 5px 5px 15px rgba(12, 39, 146, 0.43);
    
}

aside h2 {

    text-align: right;
    display: block;
    font-size: 40px;
    font-family: 'Sansita Swashed', cursive;
    color: rgb(12, 71, 80);

}


#aboutMe p {

    padding: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: justify;
    background-color: rgb(23, 94, 116);
    color: white;
    margin: 0px 5px 0px 5px;
    display: block;
    letter-spacing: 1px;
    width: 80%;
    box-shadow: 0px 1px 9px 0px rgba(12, 39, 146, 0.43)

}

#images {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    width: 80%;

}

#BreweryHopper {

    width: 100%;

}

.workExample {

    background-size: 100%;
    width: 49%;
    height: 300px;
    margin: 12px 0 12px 5px;
    border: 3px solid rgb(23, 94, 116);
    box-shadow: 0px 1px 9px 0px rgba(12, 39, 146, 0.43);
    position: relative;
    opacity: 1;


}

img {

    width: 100%;
    height: 100%;

}

#textbox {

    position: absolute;
    bottom: 5%;
    left: 3%;
    color: white;
    background-color: rgb(30, 118, 145);
    padding: 8px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;

}

  footer {

    display: flex;
    justify-content: space-between;
    padding: 30px 0 20px 0;
    background-color: rgb(23, 94, 116);
    color: floralwhite;
    margin-bottom: 5px;
    width: 100%;
    margin-top: 10px;

}

footer h2 {

    display: inline;
    flex: 0 1 auto;
    font-size: 28pt;
    margin-left: 32px;
    width: 10%;
    font-family: 'Sansita Swashed', cursive;

}

footer li {
    
   display: inline;
   width: 85%;
   margin: 15px 28px 15px 15px;
   font-size: 16pt;
   font-family: 'Sansita Swashed', cursive;
   
}

footer a {

    text-decoration: none;
    color: white;
    text-align: right; 

}

@media screen and (max-width: 400px) {
    .header h1 {
        font-size: 20px;
        text-align: center;
    }

    nav li {
        font-size: 10px;
    }

    .header {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #portrait {
        display: none;
    }

    #heroImage h2 {
        display: none;
    }

    .workExample {
        width: 100%;
        flex-direction: column;

    }

}

@media screen and (max-width: 600px) {

    .header h1 {
        font-size: 30px;
        text-align: center;
    }

    .header {
        flex-direction: column;
        flex-wrap: wrap;
        /* padding: 5px; */
    }

    .nav li {
        display: inline-block;
        font-size: 10px;
        /* padding: 25px; */
        /* justify-content: center; */
        /* text-align: center; */
        margin-top: 10px;
    }

    #portrait {
        display: none;
    }

    #heroImage h2 {
        display: none;
    }

    .workExample {
        width: 100%;
        flex-direction: column;

    }

    #aboutMe, #work {
        flex-direction: column;
    }

    #image {
        width: 100%;
    }

    #textbox {
        font-size: 14px;
    }

    aside {
        justify-content: center;
        border-right: none;
        width: 100%;
        text-align: center;
    }

    footer {

        flex-direction: column;
        flex-wrap: wrap;
        padding: 8px;

    }

    footer h2 {
        font-size: 30px;
        text-align: center;
        padding-bottom: 10px;
    }

    footer li {
        font-size: 14px;
        padding-top: 25px;
    }

    
}

@media screen and (max-width: 800px) {

    .header {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    main {
        flex-direction: column;
    }
    
    .workExample {
    
        flex-direction: column;

    }

    #breweryHopper {
        width: 100%;
    }


    
}